//- extends layout

//- block content
//-   .row
//-     .12u
//-       section
//-         header.major
//-           h2 Characters

//-         .row
//-           - each character in records.characters.data
//-             .4u
//-               .box
//-                 span.image.featured
//-                   img(src=character.image)
//-                 header
//-                   h3= character.name
//-                   p= character.description

//-     .row
//-       .12u
//-         section
//-           header.major
//-             h2 Recent Episodes
//-           div.row
//-             each post in posts.sort('date', 'desc').slice(0,2)
//-               .6u
//-                 section.box
//-                   a.image.featured(href=post.permalink)
//-                     img(src= post.banner)
//-                   header
//-                     h3= post.title
//-                     p= "Posted " + dateFormat(post.date, 'LL')
//-                     != postExcerpt(post.body, 250)
//-                   footer
//-                     ul.actions
//-                       li
//-                         a.button.icon.fa-file-text(href= post.permalink) Continue Reading

extends layout

block content
	section.bg-primary#about
		- each getstart in records.getstarted.data
			div.container
				div.row
					div.col-lg-8.col-lg-offset-2.text-center
						h2(class="section-heading")= getstart.title
						hr.light
						p.text-faded= getstart.description
						!= getstart.anchorlink

	section#services
		div.container
			div.row
				div.col-lg-12.text-center
					h2.section-heading At Your Service
					hr.primary

		div.container
			div.row
				- each offer in records.offers.data
					div.col-lg-3.col-md-6.text-center
						div.service-box
								img(src= offer.image, data-wow-delay= offer.delay).wow.bounceIn.text-primary
								h3= offer.name
								p.text-muted= offer.description

				//- div.col-lg-3.col-md-6.text-center
				//-   div.service-box
				//-       i.fa.fa-4x.fa-diamond.wow.bounceIn.text-primary
				//-       h3 Sturdy Templates
				//-       p.text-muted Our templates are updated regularly so they don't break.


				//- div.col-lg-3.col-md-6.text-center
				//-   div.service-box
				//-       i.fa.fa-4x.fa-paper-plane.wow.bounceIn.text-primary(data-wow-delay=".1s")
				//-       h3 Ready to Ship
				//-       p.text-muted You can use this theme as is, or you can make changes!

				//- div.col-lg-3.col-md-6.text-center
				//-   div.service-box
				//-       i(class="fa fa-4x fa-newspaper-o wow bounceIn text-primary", data-wow-delay=".2s")
				//-       h3 Up to Date
				//-       p.text-muted We update dependencies to keep things fresh.

				//- div.col-lg-3.col-md-6.text-center
				//-   div.service-box
				//-       i(class="fa fa-4x fa-heart wow bounceIn text-primary", data-wow-delay=".3s")
				//-       h3 Made with Love
				//-       p.text-muted You have to make your websites with love these days!

	section.bg-primary.short-section.stats-bar#hiddenElem
		- each statusbars in records.statusbar.data
			!= statusbars.html
		//- div.container.text-center
		//- 	div.row
		//- 		div.col-md-3.mb-sm-30
		//- 			div.counter-item
		//- 				h2.stat-number(data-to="9", data-speed="2000") 0
		//- 				h6 awards

		//- 		div.col-md-3.mb-sm-30
		//- 			div.counter-item
		//- 				h2.stat-number(data-to="167", data-speed="2000") 0
		//- 				h6 Clients

		//- 		div.col-md-3.mb-sm-30
		//- 			div.counter-item
		//- 				h2.stat-number(data-to="6", data-speed="2000") 0
		//- 				h6 Team

		//- 		div.col-md-3.mb-sm-30
		//- 			div.counter-item
		//- 				h2.stat-number(data-to="37", data-speed="2000") 0
		//- 				h6 Project


	section#our-team
		div.container
			div.row
				div.col-lg-12.text-center
					h2.section-heading Meet Our Team
					hr.primary

		div.container
			div.row
				- each ourteam in records.ourteams.data
					div.col-lg-4.col-md-6.text-center
						div.team-box.text-center.wow.fadeInUp(data-wow-delay=".1s")
								img(src= ourteam.image,  class="img-responsive wow fadeIn", data-wow-delay=".3s")
								h4= ourteam.name
								p
									strong= ourteam.role
								p.text-muted= ourteam.description

				//- div.col-lg-4.col-md-6.text-center
				//- 	div.team-box.text-center.wow.fadeInUp(data-wow-delay=".1s")
				//- 			img(src="img/john.jpg", class="img-responsive", alt="")
				//- 			h4 John Doe
				//- 			p
				//- 				strong APPz Architect
				//- 			p.text-muted Our templates are updated regularly so they don't break.


				//- div.col-lg-4.col-md-6.text-center
				//- 	div.team-box.text-center.wow.fadeInUp(data-wow-delay=".2s")
				//- 			img(src="img/karoline.jpg", class="img-responsive", alt="", data-wow-delay=".1s")
				//- 			h4 Karoline Dee
				//- 			p
				//- 				strong Creative Manager
				//- 			p.text-muted You can use this theme as is, or you can make changes!

				//- div.col-lg-4.col-md-6.text-center
				//- 	div.team-box.text-center.wow.fadeInUp(data-wow-delay=".3s")
				//- 			img(src="img/zack.jpg", class="img-responsive", alt="", data-wow-delay=".2s")
				//- 			h4 Zack Woo
				//- 			p
				//- 				strong User Advocate
				//- 			p.text-muted We update dependencies to keep things fresh.

	section#our-prices
		- each price in records.prices.data
			div.container
				div.row
					div.col-lg-12.text-center
						h2.section-heading= price.name
						hr.primary
						p= price.description

			div.container
				div.row.packages
					div.col-lg-4.col-md-4!= price.cols1
					div.col-lg-4.col-md-4!= price.cols2
					div.col-lg-4.col-md-4!= price.cols3

				//- 	//- div(class="single-package green-line-top white-bg diffuse-shadow wow fadeInLeft", data-wow-offset="30", data-wow-duration="1.5s", data-wow-delay="0.15s", style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.15s; animation-name: fadeInLeft;")

				//- 	//- 	h5 Basic

				//- 	//- 	div.price-circle-green
				//- 	//- 		h4.white-text $12
				//- 	//- 		<!-- PRICE -->
				//- 	//- 		div.extra-small-text.white-text Per Month

				//- 	//- 	ul.feature-list
				//- 	//- 		li
				//- 	//- 			span.icon.icon-icon-check Single License
				//- 	//- 		li
				//- 	//- 			span.icon.icon-icon-check One Website
				//- 	//- 		li
				//- 	//- 			span.icon.icon-icon-check Basic Support

				//- 	//- 	a(href="", class="btn btn-default standard-button green-outline") Get Started

				//- div.col-lg-4.col-md-4

				//- 	//- div(class="single-package red-line-top white-bg diffuse-shadow wow fadeInUp", data-wow-offset="30", data-wow-duration="1.5s", data-wow-delay="0.15s", style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.15s; animation-name: fadeInUp;")
				//- 	//- 	h5 Pro

				//- 	//- 	div.price-circle-red
				//- 	//- 		h4.white-text $24
				//- 	//- 		<!-- PRICE -->
				//- 	//- 		div.extra-small-text.white-text Per Month

				//- 	//- 	ul.feature-list
				//- 	//- 		li
				//- 	//- 			span.icon.icon-icon-check Multiple Licenses
				//- 	//- 		li
				//- 	//- 			span.icon.icon-icon-check Unlimited Websites
				//- 	//- 		li
				//- 	//- 			span.icon.icon-icon-check 24/7 Customer Support

				//- 	//- 	a(href="", class="btn btn-default standard-button red-button") Get Started

				//- <!-- SINGLE PACKAGE -->
				//- div.col-lg-4.col-md-4

				//- 	//- div(class="single-package purple-line-top white-bg diffuse-shadow wow fadeInRight", data-wow-offset="30", data-wow-duration="1.5s", data-wow-delay="0.15s", style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.15s; animation-name: fadeInRight;")
				//- 	//- 	h5 Premium

				//- 	//- 	div.price-circle-purple
				//- 	//- 		h4.white-text $199
				//- 	//- 		<!-- PRICE -->
				//- 	//- 		div.extra-small-text.white-text Per Month

				//- 	//- 	ul.feature-list
				//- 	//- 		li
				//- 	//- 			span.icon.icon-icon-check Extended License
				//- 	//- 		li
				//- 	//- 			span.icon.icon-icon-check Unlimited Websites
				//- 	//- 		li
				//- 	//- 			span.icon.icon-icon-check 24/7 Customer Support

				//- 	//- 	a(href="", class="btn btn-default standard-button purple-outline") Get Started
