doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Content Manager

    link(rel="stylesheet", href="//cms.netlify.com/assets/cms.css")
    link(rel="stylesheet", href="/css/skel.css")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/style-desktop.css")
    link(rel="stylesheet", href="/css/webriq-template.css")


    style.
      .container {
        width: auto;
        max-width: 1200px;
      }
      body.ember-application .cms-list-entry,
      body.ember-application .cms-preview-pane {
        background: #fff;
      }
    script!= "CMS_ENV = \"" + (process.env.CMS_ENV || "development") + "\";"

    base(href="/admin/")
  body



    //- script(type="text/x-handlebars" data-template-name='cms/preview/posts').
    //-   <div id="main-wrapper">
    //-     <div class="container">
    //-       <!--Content-->
    //-       <article class="box post">
    //-         {{#if entry.banner }}
    //-         {{cms-preview field='banner'}}
    //-         {{/if}}
    //-         <header>
    //-           <h2>{{ entry.title }}</h2>
    //-           <p>{{ entry.shortdesc}}</p>
    //-         </header>
    //-         {{cms-preview field='body'}}
    //-       </article>
    //-     </div>
    //-   </div>
    //- script(type="text/x-handlebars" data-template-name='cms/preview/menuheader').
    //-   <div id="main-wrapper">
    //-     <div class="container">
    //-       {{#cms-preview field="data" as |menuhead| }}
    //-         <section class="box">

    //-           {{cms-preview field="html" from=menuhead}}

    //-         </section>
    //-       {{/cms-preview}}
    //-     </div>
    //-   </div>

    //- script(type="text/x-handlebars" data-template-name='cms/preview/slidertexts').
    //-   <div id="main-wrapper">
    //-     <div class="container">
    //-       {{#cms-preview field="data" as |slidertext| }}
    //-         <section class="box">
    //-           <h1>{{slidertext.text}}</h1>
    //-           <p>{{slidertext.description}}</p>
    //-           {{cms-preview field="anchorlink" from=slidertext}}

    //-         </section>
    //-       {{/cms-preview}}
    //-     </div>
    //-   </div>

    //- script(type="text/x-handlebars" data-template-name='cms/preview/sliders').
    //-   <div id="main-wrapper">
    //-     <div class="container">
    //-       {{#cms-preview field="data" as |slider| }}
    //-         <section class="box">
    //-           <span class="image featured">{{cms-preview field="image" from=slider}}</span>
    //-           <p>{{slider.imagename}}</p>
    //-         </section>
    //-       {{/cms-preview}}
    //-     </div>
    //-   </div>

    //- script(type="text/x-handlebars" data-template-name='cms/preview/getstarteds').
    //-   <div id="main-wrapper">
    //-     <div class="container">
    //-       {{#cms-preview field="data" as |getstarted| }}
    //-         <section class="box">
    //-           <h2>{{getstarted.title}}</h2>
    //-           <p>{{getstarted.description}}</p>
    //-           {{cms-preview field="anchorlink" from=getstarted}}
    //-         </section>
    //-       {{/cms-preview}}
    //-     </div>
    //-   </div>

    //- script(type="text/x-handlebars" data-template-name='cms/preview/offers').
    //-   <div id="main-wrapper">
    //-     <div class="container">
    //-       {{#cms-preview field="data" as |offer| }}
    //-         <section class="box">
    //-           <span class="image featured">{{cms-preview field="image" from=offer}}</span>
    //-           <header>
    //-             <h3>{{offer.name}}</h3>
    //-           </header>
    //-           <p>{{offer.description}}</p>
    //-         </section>
    //-       {{/cms-preview}}
    //-     </div>
    //-   </div>

    //- script(type="text/x-handlebars" data-template-name='cms/preview/statusbars').
    //-   <div id="main-wrapper">
    //-     <div class="container">
    //-       {{#cms-preview field="data" as |statusbar| }}
    //-         <section class="box">

    //-           {{cms-preview field="html" from=statusbar}}

    //-         </section>
    //-       {{/cms-preview}}
    //-     </div>
    //-   </div>

    //- script(type="text/x-handlebars" data-template-name='cms/preview/ourteams').
    //-   <div id="main-wrapper">
    //-     <div class="container">
    //-       {{#cms-preview field="data" as |ourteam| }}
    //-         <section class="box">
    //-           <span class="image featured">{{cms-preview field="image" from=ourteam}}</span>
    //-           <header>
    //-             <h3>{{ourteam.name}}</h3>
    //-           </header>
    //-           <p>{{ourteam.role}}</p>
    //-           <p>{{ourteam.description}}</p>
    //-         </section>
    //-       {{/cms-preview}}
    //-     </div>
    //-   </div>

    //- script(type="text/x-handlebars" data-template-name='cms/preview/prices').
    //-   <div id="main-wrapper">
    //-     <div class="container">
    //-       {{#cms-preview field="data" as |price| }}
    //-         <section class="box">
    //-           <header>
    //-             <h3>{{price.name}}</h3>
    //-           </header>
    //-           <p>{{price.description}}</p>
    //-           {{cms-preview field="cols1" from=price}}
    //-           <br/>
    //-           {{cms-preview field="cols2" from=price}}
    //-           <br/>
    //-           {{cms-preview field="cols3" from=price}}


    //-         </section>
    //-       {{/cms-preview}}
    //-     </div>
    //-   </div>

    //- script(type="text/x-handlebars" data-template-name='cms/preview/contacts').
    //-   <div id="main-wrapper">
    //-     <div class="container">
    //-       {{#cms-preview field="data" as |contact| }}
    //-         <section class="box">
    //-           <header>
    //-             <h3>{{contact.title}}</h3>
    //-           </header>
    //-           <p>{{contact.description}}</p>
    //-           {{cms-preview field="contents" from=contact}}
    //-         </section>
    //-       {{/cms-preview}}
    //-     </div>
    //-   </div>
    //- script(src="/js/vendor.js")
    script(src="//cms.netlify.com/assets/vendor.js")
    script(src="//cms.netlify.com/assets/cms.js")
    script(src="/js/custom-admin.js")
